<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zjoin.story.business.dao.CommentMapper" >
  <resultMap id="BaseResultMap" type="cn.zjoin.story.business.model.Comment" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="articleid" property="articleid" jdbcType="BIGINT" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="dz" property="dz" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="topBrowseArticle" resultType="cn.zjoin.story.business.model.Article">
    SELECT id,title from article
    where createtime > date_sub(now(), interval 60 day)
    and isaudit=1
        ORDER BY browse desc,createtime desc limit 6
  </select>

  <select id="maxCommentArticle" resultType="cn.zjoin.story.business.model.view.ViewCommentArticle">
    SELECT a.id,a.title,count(c.articleid) totals,a.author,a.browse from article a LEFT JOIN comment c
    on a.id = c.articleid
    where c.createtime > date_sub(now(), interval 60 day)
    GROUP BY c.articleid  ORDER BY totals desc,a.browse desc
    LIMIT 5
  </select>

  <select id="maxDzArticle" resultType="cn.zjoin.story.business.model.view.ViewCommentArticle">
    SELECT c.content title,c.dz totals ,u.nickname author,c.createtime,c.articleid id from comment c LEFT JOIN user u
      on c.userid = u.id
    WHERE c.createtime > date_sub(now(), INTERVAL 60 DAY)
    ORDER BY totals DESC,c.createtime desc
    LIMIT 5;

  </select>

  <update id="dz" parameterType="java.lang.Long">
    UPDATE comment set dz = dz+1 WHERE id =#{id};
  </update>

  <select id="getArticleCommentList" parameterType="cn.zjoin.story.business.model.Comment" resultType="cn.zjoin.story.business.model.view.ViewComment">
    SELECT c.*,u.nickname,u.picture FROM comment c
    LEFT JOIN user u on c.userid = u.id
    WHERE articleid =#{articleid,jdbcType=BIGINT} and `type` = #{type,jdbcType=INTEGER}
    ORDER BY c.createtime desc

  </select>
</mapper>